<li>
	{{name}}

	<button class="change-expense" data-id="{{id}}" data-newExpense="{{expense}}">
		{{#if expense}}Expense{{else}}Income{{/if}}
	</button>
	
	<button class="delete-expense" data-id="{{this.id}}">Delete!</button>
</li>
